@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

.divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 25px auto 0 auto;
}

@import 'blocks/language';
@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/price';
@import 'blocks/contacts';
@import 'blocks/policy';
@import 'blocks/modal';
@import 'blocks/media';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.hide {
    display: none;
    transition: all 1000ms;
}

.show {
    transition: all 600ms;
    display: block;
}

