@media (max-width: 1310px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
        
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 400px);
            padding: 50px;
            column-gap: 60px;
            padding-bottom: 0;
        }
    }
    .skills {
        &__wrapper {
            grid-template: repeat(2,minmax(270px,auto))/repeat(3,270px);
            row-gap: 30px;
            justify-content: space-around;
        }
        &__ratings {
            grid-template: repeat(2,minmax(70px,auto))/repeat(2,350px);
            justify-content: space-around;
            &-item {
                height: 70px;
            }
        }
        
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 270px);
            row-gap: 30px;
            // height: 270px;
            justify-content: space-around;
        }
        .vertical, .horizonal {
            grid-row: unset;
            grid-column: unset;
        }
        &__item {
            height: 270px;
            &:hover {
                transform: unset;
                filter: opacity(1);
            }
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 350px 500px;
            justify-content: space-around;
            padding: 0;
        }
        &__form {
            grid-template: 45px 190px 45px /repeat(2,230px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__wrapper {
            width: 400px;
        }
        &__title {
            line-height: 45px;
        }
    }
    .title {
        &_fz48 {
            font-size: 39px;
        }
    }
    .about {
        padding-top: 90px;
        &__wrapper {
            grid-template-columns: 300px 380px;

        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
        &__img {
            height: auto;
        }
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .resume {
        padding-top: 90px;
        &__wrapper {
            grid-template-columns: repeat(2,300px);
            column-gap: 20px;
        }
        &__item {
            &-location {
                font-size: 10px;
            }
        }
    }
    .skills {
        padding-top: 90px;
        &__wrapper {
            grid-template: repeat(2,minmax(270px,auto))/repeat(2,270px);
        }
        &__ratings {
            padding-top: 90px;
            grid-template: repeat(2,minmax(70px,auto))/repeat(2,300px);
            gap: 30px;
            &-line {
                width: 100%;
            }
        }
        &__item {
            &:hover {
                transform: unset;
                background-color: #000;
            }
        }

    }
    .portfolio {
        padding-top: 90px;
    }
    .price {
        padding-top: 90px;
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 350px);
            padding: 0;
        }
    }
    .contacts {
        padding-top: 90px;
        &__wrapper {
            grid-template-columns: 300px 380px;
            justify-content: space-around;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 180px);
        }
        &__btn {
            padding: 8px 25px;
            line-height: 16px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        background: url('../img/promo/promo__bg_577w.jpg') no-repeat 50%/cover;
        &__wrapper {
            width: 300px;
        }
        &__title {
            line-height: 39px;
        }
    }
    .hamburger {
        position: absolute;
    }
    .title {
        &_fz48 {
            font-size: 29px;
        }
    }
    .language {
        top: auto;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
        &__item {
            &-text {
                font-weight: 500;
                font-size: 12px;
                line-height: 12px;
            }
            &:hover {
                transform: none;
            }
        }
    }
    .menu {
        &__social {
            a {
                svg path {
                    &:hover {
                        fill: #000;
                    }
                }
            }
        }
    }
    .about {
        padding-top: 60px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
        }
    }
    .skills {
        padding-top: 60px;
        &__wrapper {
            grid-template: repeat(2,minmax(270px,auto))/repeat(2,240px);
            column-gap: 20px;
        }
        &__ratings {
            grid-template: repeat(2,minmax(70px,auto))/repeat(2,240px);
            gap: 20px;
            padding-top: 40px;
        }
    }
    .portfolio {
        padding-top: 60px;
    }
    .price {
        padding-top: 60px;
        &__wrapper {
            justify-content: center;
            margin-top: 20px;
        }
    }
    .contacts {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: 480px;
        }
        &__photo {
            display: none;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 220px);
        }
    }
    .modal {
        &__title {
            font-size: 20px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100% ; 
        padding: 0 15px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz16 {
            font-size: 15px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .promo {
        background: url('../img/promo/promo__bg_320w.jpg') no-repeat 50%/cover;
        &__btns {
            margin-top: 32px;
        }
        &__wrapper {
            width: 300px;
        }
    }
    .language {
        right: auto;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .hamburger {
        position: absolute;
        right: 20px;
    }
    .about {
        &__wrapper {
            grid-template: 300px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        &__wrapper {
            padding: 0;
            padding-top: 30px;
        }
    }
    .skills {
        &__subtitle {
            font-size: 22px;
        }
        &__wrapper {
            grid-template: repeat(2,minmax(270px,auto))/repeat(1, 290px);
            margin-top: 20px;
            padding: 0;
        }
        &__ratings {
            grid-template-columns: repeat(1, 270px);
            row-gap: 30px;
            &-item {
                height: 70px;
            }
        }
    }
    .portfolio {
        padding-top: 40px;
        &__wrapper {
            margin-top: 40px;
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,290px);
        }
        &__subtitle {
            line-height: 40px;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 290px;

        }
        &__subtitle {
            font-size: 30px;
            line-height: 40px;
        }
        &__form {
            grid-template-columns: 290px;
            grid-template-rows: 45px 45px 190px;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
    .modal {
        height: unset;
        width: 270px;
        padding: 10px;
        &__title {
            font-size: 15px;
        }
    }
}