.skills {
    background-color: #000000;
    padding-top: 120px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
        z-index: 2;

    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        margin-top: 60px;
        padding: 0 10px;
        display: grid;
        grid-template: repeat(2, minmax(270px, auto)) / repeat(4, 270px);
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;
    }
    &__item {
        border: 1px solid #FFFFFF;
        color: #fff;
        padding: 30px;
        &:hover {
            transform: scale(1.04, 1.04);
            background-color: rgba(82, 82, 82, 0.767);
            transition: all 600ms;
        }
        &-img {
            height: 85px;
        }
        &-title {
            margin-top: 20px;
        }
        &-text {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            margin-top: 15px;
        }
    }
    &__ratings {
        padding-top: 120px;
        display: grid;
        grid-template: repeat(2, minmax(70px, auto)) / repeat(3, 350px);
        column-gap: 45px;
        row-gap: 30px;
        &-item {
            display: grid;
            grid-template: minmax(21px, auto) 14px / 200px 35px;
            justify-content: space-between;
            align-content: space-between;
            
        }
        &-counter {
            color: #fff;
            font-size: 14px;
            line-height: 21px;
        }
        &-title {
            position: relative;
            @include before_circle;
            z-index: 2;
            padding: 2px 0 0 13px;
        }
        &-line {
            width: 350px;
            height: 14px;
            background-color: #E8E4DE;
            border-radius: 4px;
            grid-column: 1 / 3;
            span {
                display: block;
                height: 100%;
                background-color: $main-color;
                border-radius: 4px;
            }
        }

    }
}